*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav{
    width: 100%;
    height: 50px;
    background-color: #1C4928;
    display: flex;
    font-size: 20px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

nav h1{
    color: white;
    justify-content: left;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

.navbar li{
    list-style-type: none;
    padding: 15px;
}

.navbar li a{
    color: white;
    text-decoration: none;
}

.navbar li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar li:hover::after{
    width: 100%;
}

.subnav{
    width: 100%;
    height: 25px;
    display: flex;
    font-size: 20px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    padding: 30px;
}

.botton-search img{
    width: 13px;
}

main{
    padding: 30px;
}

.rekomendasi{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(202, 202, 202);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.terbaru{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(202, 202, 202);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
}
main h1{
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.product {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product a{
    text-decoration: none;
    color: black;
}
.product img {
    max-width: 300px;
    height: 200px;
}
.product h3 {
    margin: 15px 0;
}
.product p {
    color: #666;
}
.product .price {
    color: #e91e63;
    font-size: 1.2em;
    margin: 10px 0;
}

.product:last-child{
    margin-bottom: 20px;
}

footer {
    width: 100%;
    background: #1C4928;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    clear: both;
}